@charset "UTF-8";

#right_content{width:1000px;float:left;padding-left:40px;}
.board_zone_tit h2{font-size:24px; color:#333333;padding-bottom:10px; margin-bottom:10px; border-bottom:2px solid #999;  }
.board_zone_list{position:relative; }
.write_qna{width:91px; cursor:pointer;color:#fff; font-size:12px; background-color:#979797;border:none; height:31px; position:absolute; display:inline-block;  top:-42px; right:0px; padding:0 10px; line-height:33px;  }
.btn_board_search{width:100px; height:31px;border:none;padding: 0 20px 0 20px; font-weight:bold; font-size:12px; color: #fff; border-radius: 21px;background: #d12420;line-height:1.5; cursor:pointer; margin-left:10px;  }
.btn_board_search:hover{background:linear-gradient(90deg,#d12420,#d12420,#910d18);border:0;background-size:100%;background-position-x:0;color:#fff;}
.btn_board_search em{padding: 0 20px 0 0;background-image: url(/images/board/btn_goods_search.png);background-position: right 3px; background-repeat: no-repeat;}
.board_list_table{width:100%;margin:0 0 20px 0;border:0;border-spacing:0;border-collapse:collapse;border-top:0.5px solid #999999;text-align:center;}
.board_list_table th{padding:10px 10px 10px 14px; font-size:12px; border-bottom:1px solid #dbdbdb; background:#fbfbfb;}
.board_list_table td{padding:13px 10px 15px 10px; border-bottom:1px solid #dbdbdb; }
.emptyList{width:100%; text-align:center;position:relative; border-bottom:1px solid #ccc; padding:13px 10px 15px; font-size:12px; color:#333; margin:-20px 0 100px;  }
.pagination .btnPage{min-width:26px; background-color:#fff;border:1px solid #e0e0e0;cursor:pointer;color:#888; font-size:11px; padding: 6px 4px 10px 4px; }
.pageNum{cursor:pointer; display:inline-block;  font-size:11px; color:#888; height:30px; width:30px; line-height:30px; vertical-align:middle;  }	
.pageNum.on{font-weight:bold; color:#fff; background-color:#7a7d81; border-radius:20px; }
.pagination{text-align:center; margin-top:60px;  cursor:pointer;  }
.board_search_box{margin: 60px 0 30px 0;padding: 10px 10px 10px 10px;border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8; background: #f7f7f7; text-align: center;}
#kind{width:90px; height:31px;  vertical-align:top; text-align:left; font-size:13px; border-color:#ccc; padding-left:3px; color:#717171; }
.text{width:162px; height:31px;  vertical-align:top; text-align:left; font-size:13px; border:1px solid #ccc; padding:0 10px;   }
.changetab a.select{border-radius:12px; border-top:1px solid #d12140; color:#d12140;  border-left:1px solid #d12140; border-right:1px solid #d12140;  background-color:#fff; border-bottom:3px solid #fff; }
.changetab a h2{font-size:15px; padding-top:5px;  }
.changetab a{left:30px;top:7px; display:inline-block; color:#bbb; text-align:center; width:150px; height:50px;position:absolute; padding:5px 0; margin-right:30px;}
.changetab{padding-left:15px; width:100%; height:50px;  z-index:999; border-bottom:1px solid #d12140;position:relative; }
.reviewBtn{border:1px solid #dbdbdb; font-size:12px;  background-color:#fff; padding:5px; cursor:pointer;}
.reviewBtn.goReview{background-color:#d12140; color:#fff;}
.reviewBtn:hover{background-color:#eee;color:#333;}
.checkReview{display:inline-block;padding-bottom:5px;}