@charset "UTF-8";
img {
	border: 0 none;
    vertical-align: top;
}

/* 마이페이지 회원 요약정보 css start */

.myPage_top_info {
	border: 0;
    display: table;
    width: 100%;
    margin: 0 0 35px 0;
    background: #f7f9f8;
}

.myPage_top_text {
	padding: 20px;
    box-sizing: border-box;
    text-align: left;
    width: 32.66%;
    background: #fff;
    vertical-align: middle;
    display: table-cell;
}

.grade_text{
	font-size: 14px;
    font-weight: 600;
}
.grade_text span {
	color: #d12420;
}

.grade_text .grade_btn {
	width: 100%;
    text-align: center;
	margin: 4px 0 0 0;
 	position: relative;
    display: inline-block;
}
 
.grade_text .grade_btn span {
    color: #d12420;
}

.grade_text .grade_btn span a {
    height: 30px;
    border: 0;
    background: #d12420;
    border-radius: 21px;
    color: #fff;
    padding: 0;
    width: 100%;
    font-size: 11px;
    display: inline-block;
}
.grade_text .grade_btn span a:hover { background: linear-gradient(90deg,#d12420,#d12420,#910d18); }

.grade_text .grade_btn span a em {
    line-height: 30px;
    background: none;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
}

.myPage_top_wallet {
	display: table-cell;
    width: 69%;
    vertical-align: middle;
    background: #ffffff;
}

.myPage_top_wallet ul {
    box-sizing: border-box;
    width: 100%;
    padding: 27px 10px 27px 10px;
    font-size: 0;
    line-height: 1;
}

.myPage_top_wallet li {
    display: inline-block;
    width: 33%;
    font-size: 14px;
    border-left: 1px solid #e1e3e2;
    text-align: center;
}

.myPage_top_wallet li:first-child {
	border-left: none 0;
}

.myPage_top_wallet span {
	display: block;
    padding: 0 10px 0 10px;
}

.myPage_top_wallet strong{
    color: #d12420;
    padding: 0 3px 0 0;
    font-size: 24px;
}

#contents .layer_area {
	position: relative;
    z-index: 150;
}

#contents .ly_wrap {
	position: absolute;
    top: 0px;
    left: 0px;
    min-width: 250px;
    text-align: left;
    border: 1px solid #999999;
    background: #ffffff;
}

#contents .ly_wrap.grade_layer{
	width: 305px;
    top: 0px;
    left: 0;
}

#contents .ly_wrap .ly_tit {
    padding: 13px 35px 11px 15px;
    font-size: 12px;
    background: #f4f4f4;
}

#contents .ly_wrap .ly_tit {
    padding: 13px 35px 11px 15px;
    font-size: 12px;
    background: #f4f4f4;
}

#contents .layer_area strong {
    color: #333333;
}

#contents .ly_wrap .ly_tit strong {
    display: block;
    color: #222222;
    font-weight: bold;
}

#contents .ly_wrap.grade_layer strong {
    font-size: 12px;
}

#contents .ly_wrap .ly_cont {
    padding: 0 15px 15px 15px;
}

#contents .ly_wrap .grade_list dl {
    overflow: hidden;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid #e8e8e8;
}

#contents .ly_wrap .grade_list dl:first-child {
    border-top: none 0;
}

#contents .ly_wrap .grade_list dt {
    float: left;
    width: 80px;
    font-weight: bold;
}

#contents .ly_wrap .grade_list dd {
    float: left;
    width: 180px;
}

#contents .ly_wrap .ly_close {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 11px;
}

/* 마이페이지 회원 요약정보 css end */


#startendDate {color: #333;}

.mypage_coupon_name strong {
	display: block;
    padding: 5px 0 0 0;
    color: #333333;
}

.coupon_date_day {
	display: inline-block;
    width: 130px;
    padding: 0 0 3px 0;
}

.coupon_before_use {
	display: inline-block;
    width: 88px;
    padding: 2px 10px 3px 10px;
    color: #ab3e55;
    font-size: 11px;
    border: 1px solid #ab3e55;
    text-align: center;
    line-height: 1;
}

.coupon_layer {
	position: relative;
    display: inline-block;
}

.coupon_layer_layer a {
	font-size: 11px;
    background-color: white;
    display: inline-block;
    padding: 0 0 0 11px;
    border: 1px solid #dbdbdb;
    vertical-align: middle;
}

.coupon_layer_layer a em {
	background-position: right 1px;
    line-height: 22px;
    display: inline-block;
    padding: 0px 20px 0 0;
    background: url(https://shop.illycaffe.co.kr/data/skin/front/udweb_200529/img/common/btn/btn_gray_bg.png) no-repeat right top;
}

#contents .ly_wrap.use_case_layer {
    width: 305px;
    top: 0px;
    left: 0;
}

#wrap .ly_wrap .ly_cont.paddingTop {
    padding-top: 15px;
}