<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c.illy.product.coffee.CoffeeRepository">

  	<insert id="setInsertProduct" parameterType="CoffeeVO">
  		INSERT INTO coffee
		VALUES(
			#{product_id}
		    ,#{coffee_material}
		    ,#{coffee_capacity}
		    ,#{coffee_caffeine}
		);
  	</insert>
  	
  	<update id="setUpdateProduct" parameterType="CoffeeVO">
  		UPDATE coffee
  		SET
  			coffee_material = #{coffee_material}
  			,coffee_capacity = #{coffee_capacity}
  			,coffee_caffeine = #{coffee_caffeine}
  			WHERE product_id = #{product_id}
  	</update>
  	
  	<select id="getSelectCoffeeOne" resultType="CoffeeVO" parameterType="ProductVO">
	  	SELECT
			product.*
		    ,coffee_material
		    ,coffee_caffeine
		    ,TRIM(TRAILING '.0' FROM coffee_capacity) AS coffee_capacity
		FROM product
			JOIN coffee USING (product_id)
		WHERE product_id = #{product_id};
  	</select>
  
</mapper>