<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c.illy.product.machine.MachineRepository">

  	<insert id="setInsertProduct" parameterType="MachineVO">
  		INSERT INTO machine
		VALUES(
			#{product_id}
			,#{machine_material}
			,#{machine_pump}
			,#{machine_size}
			,#{machine_weight}
			,#{machine_capacity}
			,#{machine_powerV}
			,#{machine_powerHz}
			,#{machine_powerConsumption}
			,#{machine_safetyInfo}
		);
  	</insert>
  	
  	<select id="getSelectMachineOne" resultType="MachineVO" parameterType="ProductVO">
	  	SELECT
			*
		FROM product
			JOIN machine USING (product_id)
		WHERE product_id = #{product_id};
  	</select>
  
</mapper>