<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c.illy.product.ProductRepository">

  	<insert id="setInsertProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="product_id">
  		INSERT INTO product
		VALUES(
			#{product_id}
		    ,#{product_name}
		    ,#{product_price}
		    ,#{product_detail}
		    ,#{product_categoryCode}
			,NOW()
		    ,#{product_manufacturer}
		    ,#{product_origin}
		    ,#{product_importer}
		    ,'sale'
		)
  	</insert>  
  	
  	<insert id="setInsertProductFile" parameterType="ProductFileVO">
	  	INSERT INTO productFile
		VALUES(
			#{productFile_id}
		    ,#{product_id}
		    ,#{productFile_name}
		    ,#{productFile_oriName}
		)
  	</insert>
  	
  	<select id="getTotalCount" resultType="Long" parameterType="ProductVO">
  		SELECT COUNT(product_id)
		FROM product
        WHERE
			product_state = 'sale'
            AND product_categoryCode LIKE CONCAT(#{product_categoryCode}, '%')
  	</select>
  	<select id="getListProduct" resultMap="listAllProduct" parameterType="Pager">
		SELECT
			product_id
			,product_name
			,product_price
			,SUBSTR(product_categoryCode, 1, 6) AS product_categoryCode
			,productFile_id
			,productFile_name
		FROM product
		    LEFT JOIN (SELECT * FROM productFile GROUP BY product_id) AS productFile USING (product_id)
		WHERE
			product_state = 'sale'
		<if test="product_categoryCode != null">
			AND product_categoryCode LIKE CONCAT(#{product_categoryCode}, '%')
		</if>
		GROUP BY product_id
		
		ORDER BY <if test="sort != null">${sort},</if> product_id DESC
		LIMIT #{perPage} OFFSET #{startRow}
		
  	</select>
  	<resultMap type="ProductVO" id="listAllProduct">
		<id column="product_id" property="product_id"/>
		<result column="product_name" property="product_name"/> <!-- 상품명 -->
		<result column="product_price" property="product_price"/> <!-- 가격 -->
		<result column="product_categoryCode" property="product_categoryCode"/> <!-- 카테고리 코드 -->
		
		<collection ofType="ProductFileVO" property="productFileVOs" javaType="List">
			<id column="productFile_id" property="productFile_id"/>
			<result column="productFile_name" property="productFile_name"/>
		</collection>
  	</resultMap>
  	
  	<select id="getCategoryAllCnt" resultType="CategoryCntVO" parameterType="ProductVO">
	  	SELECT
			CASE LEFT(product_categoryCode, 3)
				WHEN '001' THEN '커피제품'
				WHEN '002' THEN '캡슐머신'
				WHEN '003' THEN '일리 악세서리'
		    END AS name
			,LEFT(product_categoryCode, 3) AS code
		    ,COUNT(product_categoryCode) AS count
		FROM product
		WHERE
			product_categoryCode LIKE CONCAT(LEFT(#{product_categoryCode}, 3), '%')
			AND product_state = 'sale'
  	</select>
  	<select id="getCategoryCnt" resultType="CategoryCntVO" parameterType="ProductVO">
  		SELECT
  			SUBSTRING_INDEX(product_categoryCode, '-', -1) AS name
			,SUBSTRING_INDEX(product_categoryCode, '-', 1) AS code
		    ,COUNT(product_categoryCode) AS count
		FROM product
		WHERE
			product_state = 'sale'
		<if test="product_categoryCode != null">
			AND product_categoryCode LIKE CONCAT(LEFT(#{product_categoryCode}, 3), '%')				
		</if>
		GROUP BY product_categoryCode
		ORDER BY product_categoryCode
  	</select>
  	
  	<select id="getSelectProductOne" resultType="ProductVO" parameterType="ProductVO">
  		SELECT *
		FROM product
		WHERE product_id = #{product_id};
  	</select>
  	<select id="getSelectProductFileList" resultType="ProductFileVO" parameterType="ProductVO">
  		SELECT *
  		FROM productFile
  		WHERE product_id = #{product_id}
  	</select>
  	
  	<delete id="setDeleteProductFile" parameterType="String">
  		DELETE FROM productfile WHERE productFile_id = #{productFile_id};
  	</delete>
  	
  	<update id="setUpdateProduct" parameterType="ProductVO">
  		UPDATE product
  		SET
  			product_name = #{product_name}
  			,product_price = #{product_price}
  			,product_detail = #{product_detail}
  			,product_categoryCode = #{product_categoryCode}
  			,product_manufacturer = #{product_manufacturer}
  			,product_origin = #{product_origin}
  			,product_importer = #{product_importer}
  		WHERE product_id = #{product_id}
  	</update>
  	
  	<update id="setupdateProductState" parameterType="ProductVO">
		UPDATE product
		SET product_state = 'suspended' WHERE product_id = #{product_id}
  	</update>
  
</mapper>