<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c.illy.product.ProductRepository">

  	<insert id="setInsertProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="product_id">
  		INSERT INTO product
		VALUES(
			#{product_id}
		    ,#{product_name}
		    ,#{product_price}
		    ,#{product_detail}
		    ,#{product_categoryCode}
			,NOW()
		    ,#{product_manufacturer}
		    ,#{product_origin}
		    ,#{product_importer}
		)
  	</insert>  
  	
  	<insert id="setInsertProductFile" parameterType="ProductFileVO">
	  	INSERT INTO productFile
		VALUES(
			#{productFile_id}
		    ,#{product_id}
		    ,#{productFile_name}
		    ,#{productFile_oriName}
		)
  	</insert>
  	
  	<select id="getListProduct" resultMap="listAllProduct" parameterType="ProductVO">
		SELECT product_id, product_name, product_price, product_categoryCode, productFile_id, productFile_name
		FROM product
		    JOIN productFile USING (product_id)
		<if test="product_categoryCode != null">
			WHERE product_categoryCode LIKE CONCAT(#{product_categoryCode}, '%')
		</if>
		GROUP BY product_id 
		ORDER BY product_id DESC
  	</select>
  	<resultMap type="ProductVO" id="listAllProduct">
		<id column="product_id" property="product_id"/>
		<result column="product_name" property="product_name"/> <!-- 상품명 -->
		<result column="product_price" property="product_price"/> <!-- 가격 -->
		<result column="product_categoryCode" property="product_categoryCode"/> <!-- 카테고리 코드 -->
		
		<collection ofType="ProductFileVO" property="productFileVOs" javaType="List">
			<id column="productFile_id" property="productFile_id"/>
			<result column="productFile_name" property="productFile_name"/>
		</collection>
  	</resultMap>
  	
  	<select id="getCategoryCnt" resultType="CategoryCntVO" parameterType="ProductVO">
  		SELECT
  			CASE product_categoryCode
				WHEN '001001' THEN '캡슐커피'
				WHEN '001002' THEN '원두커피'
				WHEN '001003' THEN '분쇄커피'
				WHEN '001004' THEN '스틱원두커피'
		    END AS name
			,product_categoryCode AS code
		    ,COUNT(product_categoryCode) AS count
		FROM product
		<if test="product_categoryCode != null">
			WHERE product_categoryCode LIKE CONCAT(LEFT(#{product_categoryCode}, 3), '%')
		</if>
		GROUP BY product_categoryCode
		ORDER BY product_categoryCode
  	</select>
  	
  	<select id="getSelectProductOne" resultType="ProductVO" parameterType="ProductVO">
  		SELECT *
		FROM product
			LEFT JOIN coffee USING (product_id)
			LEFT JOIN machine USING (product_id)
		WHERE product_id = #{product_id};
  	</select>
  	<select id="getSelectProductFileList" resultType="ProductFileVO" parameterType="ProductVO">
  		SELECT *
  		FROM productFile
  		WHERE product_id = #{product_id}
  	</select>
  
</mapper>