<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

  <configuration>
  
  	<typeAliases>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.String" alias="String"/>

  		<typeAlias type="com.c.illy.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.c.illy.member.RoleVO" alias="RoleVO"/>
		<typeAlias type="com.c.illy.address.AddressVO" alias="AddressVO"/>
		  
  		<typeAlias type="com.c.illy.product.ProductVO" alias="ProductVO"/>
  		<typeAlias type="com.c.illy.product.ProductFileVO" alias="ProductFileVO"/>
  		<typeAlias type="com.c.illy.product.coffee.CoffeeVO" alias="CoffeeVO"/>
  		<typeAlias type="com.c.illy.product.machine.MachineVO" alias="MachineVO"/>
  		
  		<typeAlias type="com.c.illy.cart.CartVO" alias="CartVO"/>
  		<typeAlias type="com.c.illy.cart.CartProductVO" alias="CartProductVO"/>
  		<typeAlias type="com.c.illy.payment.PaymentVO" alias="PaymentVO"/>
  		<typeAlias type="com.c.illy.coupon.CouponVO" alias="CouponVO"/>

  	<!-- LDY board work start  -->
  		<typeAlias type="com.c.illy.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.c.illy.faq.FaqVO" alias="FaqVO"/>
  		<typeAlias type="com.c.illy.qna.QnaVO" alias="QnaVO"/>
  		<typeAlias type="com.c.illy.review.ReviewVO" alias="ReviewVO"/>
 		<typeAlias type="com.c.illy.util.Pager" alias="Pager"/>
  	<!-- LDY board work end  -->

  	</typeAliases>
  
  </configuration>