<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c.illy.coupon.CouponRepository">

	<select id="getCouponList" parameterType="MemberVO" resultType="CouponVO"> 
		select * from coupon
			where member_id=#{member_id}
				and coupon_state='cart' or coupon_state='delivery'
	</select> <!-- coupon_list -->
	
	<select id="getCouponPager" parameterType="HashMap" resultType="CouponVO"> 
		select * from coupon
			where member_id=#{coupon.member_id}
				<if test="coupon.coupon_state== 'deadline'">and coupon_state='deadline'</if>
				<if test="coupon.coupon_state == 'cart'">and (coupon_state='cart' or coupon_state='delivery')</if>
				
				and
				    DATE_FORMAT(coupon_get, '%Y-%m-%d') between #{coupon.start_date} and #{coupon.end_date}
				order by coupon_id desc limit #{pager.startRow},#{pager.perPage}
	</select> <!-- My Page : coupon_list (pager) -->
	
	<select id="getCouponCount" parameterType="HashMap" resultType="Long"> 
		select count(*) from coupon
			where member_id=#{coupon.member_id}
				<if test="coupon.coupon_state== 'deadline'">and coupon_state='deadline'</if>
				<if test="coupon.coupon_state == 'cart'">and (coupon_state='cart' or coupon_state='delivery')</if>
				
				and
				    DATE_FORMAT(coupon_get, '%Y-%m-%d') between #{coupon.start_date} and #{coupon.end_date}
	</select> <!-- My Page : coupon_list (pager) -->
	
	<update id="setUseState" parameterType="CouponVO">
		update coupon set coupon_state='use' where coupon_id=#{coupon_id}
	</update> <!-- 쿠폰 사용 후 상태변경 -->
	
	<update id="setDeadlineState">
		update coupon set coupon_state='deadline' 
			where DATEDIFF(coupon_validity, now()) <![CDATA[<]]> 0
	</update> <!-- 쿠폰 사용기간 만료 후 상태변경 -->
</mapper>