@charset "UTF-8";

* {
	margin:0; padding:0; box-sizing: border-box;
	font-family: nanumgothic,"나눔고딕",Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
}

html,body { height: 100%; }
#wrapper {
	position:relative;
	min-width: 1200px;
	height: 100%;
}
#container { 	
	min-height: 100%;
	padding: 120px 125px 485px;
	margin: -120px auto -485px;
}
#contents {
	width: 1200px;
	min-height: 400px;
	padding: 45px 0 60px 0;
	margin: 0 auto 0;
}

li { list-style: none; }
a { color: #333; text-decoration: none; }
input:focus { outline: none; }