@charset "UTF-8";

.footerHeadWrap { text-align: center; width: 100%; height: 485px; min-width: 1200px; padding: 0 125px; border-top: 2px solid #fff; background: #63666a; }

.footListWrap { text-align: left; display:inline-block; width: 1200px; padding: 38px 0; border-bottom: 0; margin: 0 auto; line-height: 1; }
.footListWrap:after { content: ''; display: block; clear: both; }
.footListCont { float: left; width: 200px; }
.footListCont h3 { margin-bottom: 8px; font-size: 12px; font-weight: bold; line-height: 36px; color: #fff; }
.footListCont ul { width: 100%; }
.footListCont li { width: 100%; line-height: 0.8; padding: 11px 0; }
.footListCont a { font-size: 12px; line-height: 1; color: #fff; vertical-align: top; }
.footListCont a:hover { text-decoration: underline; }

.footEtcCont { float: right; width: 160px; }
.footEtcCont a { display: inline-block; width: 160px; height: 40px; border: 1px solid #fff; border-radius: 20px; margin-bottom: 20px; font-size: 12px; font-weight: bold; color: #fff; text-align: center; line-height: 38px;}
.footEtcCont p { display: inline-block; margin: 15px 0 10px; font-size: 12px; line-height: 19px; color: #fff; }
.footEtcCont ul { margin-bottom: 15px; }
.footEtcCont ul:after { content: ''; display: block; clear: both; }
.footEtcCont li { float: left; padding-right: 4px; }
.footEtcCont .followus a { width: 100%; border: none; }

.contentInfoWrap { width: 100%; }