<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c.illy.address.AddressRepository">

<!-- ijy -->
	<insert id="setPaymentAddress" parameterType="AddressVO">
		insert into address(address_id, member_id, address_name, address_recipient_name, address_recipient_phone,
							address_default, address_postcode, main_address, address_reference, address_detail, address_myAddress)
		values(null, #{member_id}, #{address_name}, #{address_recipient_name}, #{address_recipient_phone}, 
				#{address_default}, #{address_postcode}, #{main_address}, #{address_reference}, #{address_detail}, #{address_myAddress})
	</insert> <!-- payment 주소 insert -->


	<select id="getAddressList" parameterType="MemberVO" resultType="AddressVO">
		select * from address
		where member_id=#{member_id} and address_myAddress='yes'
	</select> <!-- 배송지관리 주소 list -->
	
	<select id="getAddressOne" resultType="AddressVO">
		select * from address
		where address_id=
						(select max(address_id) from address)
	</select> <!-- 결제 시 주소 한 개 가져오기 --> 
	
	<select id="getAddressLatest" parameterType="MemberVO" resultType="AddressVO">
		select * from address A
		join payment P
		on A.address_id=P.address_id
		where payment_id=(select max(payment_id) from payment where member_id=#{member_id})
	</select> <!-- 최근 배송지 주소 가져오기 -->
	
	<select id="getDefaultAddress" parameterType="MemberVO" resultType="AddressVO">
		select * from address
			where address_default=1 and member_id=#{member_id}
	</select> <!-- 기본배송지 가져오기 -->
	
	<update id="setMyAddressDelete" parameterType="AddressVO">
		update address set address_myAddress='no' 
			where address_id=#{address_id}
	</update> <!-- 나의 배송지 삭제하기 -->
	
	<update id="setMyAddressUpdate" parameterType="AddressVO">
		update address set address_name=#{address_name}, address_recipient_name=#{address_recipient_name}, address_postcode=#{address_postcode},
							main_address=#{main_address}, address_reference=#{address_reference}, address_detail=#{address_detail},
							address_recipient_phone=#{address_recipient_phone}, address_default=#{address_default}
			where address_id=#{address_id}
	</update> <!-- 나의 배송지 수정하기 -->
	
	<update id="setMyDefaultAddressInsert" parameterType="AddressVO">
		update address set address_default=0
			where address_default=1 and member_id=#{member_id}
	</update> <!-- 기본배송지 변경하기 -->

	<insert id="setAddress" parameterType="AddressVO">
		INSERT INTO
		address(address_recipient_name, address_recipient_phone, address,
		address_default, main_address, address_reference, address_detail, address_postcode, member_id) VALUES (
		#{address_recipient_name},
		#{address_recipient_phone},
		#{address},
		1,
		#{main_address},
		#{address_reference},
		#{address_detail},
		#{address_postcode},
		(select member_id from member where username=#{username})
		);
	</insert>
</mapper>