@charset "UTF-8";

h2 { padding-bottom: 45px; font-size: 19px; font-weight: normal; color: #333; text-align: center; }
.listMainImg { width: 1200px; padding-bottom: 30px; }

.productCategory { text-align: center; margin-bottom: 40px; }
.productCategory a { padding:3px 10px; border: 1px solid #eee; margin: 0 5px; font-size: 13px; color: #666; }
.productCategory span { font-size: 11px; color: #bbb; }

.productPickList { margin-bottom: 10px; }
.productPickList .pickListNum { display: block; font-size: 14px; margin-bottom: 10px; }
.productPickList .pickListBox { display: block; height: 49px; padding: 9px 0 10px; border-top: 1px solid #999; border-bottom: 1px solid #dbdbdb; margin-bottom: 50px; }
.productPickList .pickListBox li { display: inline-block; margin: 5px 0 0; }
.productPickList .pickListBox input[type=radio] { display: none; }
.productPickList .pickListBox .sortLabel { padding-left: 20px; margin-left: 10px; cursor: pointer; }
.productPickList .pickListBox .sortLabel.on { color: #000; font-weight: bold; background: url(/images/product/list/icon_sort_check.png) no-repeat left 5px; }

.productList { display: table; width: 100%; padding-bottom: 65px; border-bottom: 1px solid #dbdbdb; }
.productList li { position: relative; display: inline-block; vertical-align: top; width: 300px; height: 430px; margin-bottom: 15px; }
.productList .productWrap { height: 430px; padding: 55px 25px; border: 1px solid #eee; border-radius: 20px; margin: 0 7.5px; background-color: #fff; text-align: center; }
.productList .productWrap:hover { position: absolute; z-index: 100; width: 285px; height: 500px; border-color: #d12420;}
.productList .productWrap .productImgWrap { display: block; position: relative; width: 100%; height: 233px; overflow: hidden; }
.productList .productWrap .productImgWrap img { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; }
.productList .productWrap .productName { display: block; height: 36px; padding-top: 9px; font-size: 13px; font-weight: bold; }
.productList .productWrap .iconBox { min-height: 33px; }
.productList .productWrap .productPrice { display: block; margin: 6px 0 35px; font-size: 20px; font-weight: bold; color: #d12420; }
.productList .productWrap button { display: none; width: 40%; opacity: 0; }
.productList .productWrap:hover button { opacity: 1; }

.pagination { padding-top: 50px; }
.pagination ul { text-align: center; }
.pagination li { display: inline-block; }
.pagination a,
.pagination span { display: block; width: 30px; height: 30px; line-height: 30px; font-size: 11px; color: #888; }
.pagination span { border-radius: 20px; font-weight: bold; color: #fff; background: #7a7d81; }


/* ijy add */ 
.modal_wrap { overflow-y: auto; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 210; background-color: rgba(0,0,0,0.4); } 

.add_cart_layer { position: absolute; margin: 0px; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; border: 2px solid #555; width: 405px; min-height: 312px; }
.add_cart_layer .add_cart_layerView { position: relative; margin: 14px 20px; }
.add_cart_layer .add_cart_layerView h2 { padding: 0 0 13px; border-bottom: 1px solid #999999; color: #000; font-size: 18px; font-weight: 600; text-align: left; }
#productAddcartImages { background: url(/images/cart/add_cart_success.png) no-repeat center top; margin: 30px 0 0; padding: 80px 0 0; color: #222; font-size: 14px; line-height: 22px; text-align: center; }
.add_cart_layer .add_cart_layerView .add_cart_btn_box { padding: 29px 0 0 0; text-align: center; }
.add_cart_layer .add_cart_layerView .add_cart_btn_box .add_cart_btn_cancel { min-width: 74px; padding: 10px 10px 9px 10px; border: 1px solid #cccccc; color: #3e3d3c; background: #ffffff; font-weight: bold; }
.add_cart_layer .add_cart_layerView .add_cart_btn_box .add_cart_btn_cancel:hover { border: 1px solid #333333; cursor: pointer; }
.add_cart_layer .add_cart_layerView .add_cart_btn_box .add_cart_btn_move { min-width: 74px; padding: 10px 10px 9px 10px; margin: 0 0 0 6px; border: 1px solid #000; color: #ffffff; background: #000; font-weight: bold; }
.add_cart_layer .add_cart_layerView .add_cart_btn_box .add_cart_btn_move:hover { background: #343434; cursor: pointer; }
.add_cart_layer .add_cart_layerView .add_cart_top_cancel { display: block; position: absolute; top: 0px; right: 0px; padding: 6px 0 20px 20px; }
.add_cart_layer .add_cart_layerView .add_cart_top_cancel:hover { cursor: pointer; }