<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.c.illy.faq.FaqRepository">

	<!-- 자주묻는질문 리스트 불러오기 -->
	<select id="getFaqList" parameterType="Pager" resultType="FaqVO">
		SELECT * FROM faq
		WHERE 
			<if test='kind!=""'>
				faq_type_code=#{kind} AND
			</if>
		faq_title LIKE CONCAT('%',#{search},'%')
		ORDER BY faq_id DESC limit #{startRow},#{perPage}
	</select>
	
	<!-- totalCount 불러오기  -->
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(faq_id) FROM faq
		WHERE 
			<if test='kind!=""'>
				faq_type_code=#{kind} AND
			</if>
		faq_title LIKE CONCAT('%',#{search},'%')
	</select>
	
	<!-- faq 글 하나 조회하기 -->
	<select id="faqSelectOne" parameterType="FaqVO" resultType="FaqVO">
		SELECT * FROM faq WHERE faq_id=#{faq_id}
	</select>
	
	<!-- faq 추가하기 -->
	<insert id="addFaq" parameterType="FaqVO">
		INSERT INTO faq(faq_id,faq_title,faq_contents,faq_type_code,faq_type)
		VALUES(0,#{faq_title},#{faq_contents},#{faq_type_code},#{faq_type});
	</insert>
	
	<!-- faq 삭제하기 -->
	<delete id="faqDelete" parameterType="FaqVO">
		DELETE FROM faq WHERE faq_id=#{faq_id}
	</delete>
	
	<!-- faq 수정하기 -->
	<update id="faqUpdate" parameterType="FaqVO">
		UPDATE faq SET faq_title=#{faq_title},faq_contents=#{faq_contents},faq_type_code=#{faq_type_code},faq_type=#{faq_type}
		WHERE faq_id=#{faq_id}
	</update>




</mapper>