<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.c.illy.notice.NoticeRepository">

<!-- FAQ:Mapper,VO만 단독 사용/ Repository,Service,Controller Notice와 같이 사용 -->









</mapper>