<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.c.illy.qna.QnaRepository">

<!-- QNA리스트 불러오기  -->
<select id="getQnaList" parameterType="Map" resultType="QnaVO">
	SELECT * FROM qna 
	<!--로그인 되면 멤버 아이디도 같이 조회해야함-->
	<if test="qnaVO.start_date != null">
		WHERE qna_regDate BETWEEN #{qnaVO.start_date} AND #{qnaVO.end_date}		
	</if>
	ORDER BY qna_id DESC limit #{pager.startRow},#{pager.perPage}
</select>

<!-- totalCount 불러오기  -->
<select id="getTotalCount" parameterType="Map" resultType="Long">
	SELECT COUNT(qna_id) FROM qna
	<!-- member_id=#{member_id} -->
	<if test="qnaVO.start_date != null">
		WHERE qna_regDate BETWEEN #{qnaVO.start_date} AND #{qnaVO.end_date}		
	</if>
</select>

















</mapper>